<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">
  <% include ../partials/nav.ejs %>
  <% include ../partials/functions %>

  <div class="container">
      <div class="single">
        <div class="container">
           <div class="col-sm-5 single_left">
             <br><br>
             <img src= <%= result.picture_url %> class="img-responsive" id="food_profile" alt=""/>
           </div>

           <div class="col-sm-7" style="margin-top: 100px;">
            <ul class="size">
              <h3 style="margin-bottom:5px;"> <%= result.name %> </h3>
              <h5 style="margin-bottom:10px;"> <%= result.chinesename %> </h5>
              <ul style="list-style-type:none; padding-left:0px;">
                  <li><b>Price</b>: <%= result.price %> HKD</li><br>
                  <li><b>Availability</b>: <%= whenOffered(result.offeredtimesid) %> </li><br>
                  <li><b>Restaurant</b>: <%= whatRestaurant(result.restaurantid) %> </li><br>
                  <li><b>Delivery Speed</b>: <%= whatDeliverySpeed(result.deliveryspeedid) %> </li><br>
                  <li><b>Cuisine Type</b>: <%= whatCuisineType(result.cuisinetypeid) %></li><br>
                  <li><b>Taste Type</b>: <%= whatTaste(result.tastetypesid) %> </li><br>
                  <li><b>Ingredient Type</b>: <%= whatIngredient(result.ingredienttypesid) %> </li><br>
              </ul>
              <div class="star" style="margin-top:10px;">
                <input id="star_rating" value=<%= result.rating %> type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" data-show-clear="false" readonly="true">
              </div>
            </ul>
          </div>
        </div>
    </div>
  </div><!-- /.container -->



  <% include ../partials/javascript_dependency.ejs %>
  <script>
    $(document).ready(function () {
      //$('#star_rating').rating('update', 3);
    });

  </script>
</body>
</html>
